
.pdfDocument canvas {
  margin: auto;
  outline: 1px solid rgba(111,111,111,.111);
  box-shadow: 0 0 11px rgba(111,111,111,.111);
}

.link {
  text-transform: uppercase;
}

.previewSection {
  padding: calc(1vw + 1vh);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pdfIcon {
  margin-left: .5em;
}
