.root {
  color: white;
  text-decoration: none;
  overflow: hidden;
  width: 420px;
}

.small {
  width: 220px;
}

.title {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  z-index: 1;
}

.leadMediaThumb {
  position: relative;
  /*padding-bottom: 66.666%;*/
  height: 100%;
  width: 100%;

  @nest & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @nest & .title {
    color: white;
    display: flex;
    visibility: hidden;
    text-align: center;
  }
}

.leadMediaThumbMasonry {
  height: unset;
  width: unset;
}

.leadMediaThumb:hover {
  @nest &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
  }

  @nest & .title {
    visibility: visible;
  }
}

.leadMediaThumbFeatured {
  position: relative;
  /*padding-bottom: 66.666%;*/
  height: 185px;
  width: 100%;

  @nest & img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @nest & .title {
    color: white;
    display: none;
    text-align: center;
  }
}

.leadMediaThumbFeatured:hover {
  @nest &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
  }

  @nest & .title {
    position: absolute;
    display: block;
    top: 43%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.title {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/*
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
  */

.subtitle {
  position: absolute;
  top: 20%;
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}
