@import '../../styles/custom-media.css';

.demoContainer {
  display: flex;
  padding-top: 4rem;

  @media (--media-max-large) {
    flex-wrap: wrap;
  }

  @media (--media-max-medium) {
    flex-wrap: unset !important;
    flex-direction: column;
  }
}

.demoItem {
  display: flex;
  position: relative;
  margin: 0 18px;
  padding-bottom: 40px;
  width: 100%;
}

.demoItemContent {
  text-align: left;
  width: 100%;
}

.demoImg {
  height: 320px;
  @media (--media-max-large) {
    height: auto;
  }
  cursor: default;
}

.demoContent {
  padding: 0 28px 80px;
  cursor: default;
}

.textCenter {
  text-align: center;
}

.demoPlayContainer {
  width: 100%;
  position: absolute;
  bottom: 50px;
}

.btnDemoPlay {
  background-color: var(--color-dark-black-bg);
  color: white;
  border: 3px solid white;
  padding: 12px 24px;
  font-size: 20px;
  cursor: pointer;

  @nest &:hover {
    background-color: white;
    color: var(--color-dark-black-bg);
    border: 3px solid var(--color-dark-black-bg);
  }
}
