@import '../styles/custom-media.css';

.link_container {
  padding: 0 0 5px 20px;
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

h2, h3 {
  text-align: left !important;
  margin: unset !important;
}