.carousel {
  background-color: var(--color-white);
  padding: 1.5rem 0;
}

.carousel-title {
  text-align: center !important;
  padding: 2rem 0;
}

.carouselDescription {
  text-align: center;
  padding: 1rem 4rem;
}
