@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.link {
  color: var(--color-red-primary-bg) !important;
  /* text-decoration: underline; */
}

.button {
  composes: button from '../styles/buttons.css';
}

.darkButton {
  composes: button from '../styles/buttons.css';
  composes: darkButton from '../styles/buttons.css';
}
