@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.link {
  color: var(--color-red-primary-bg) !important;
  /* text-decoration: underline; */
}

.left {
  display: flex;
  justify-content: flex-start;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.button {
  composes: button from '../styles/buttons.css';
}

.darkButton {
  composes: button from '../styles/buttons.css';
  composes: darkButton from '../styles/buttons.css';
}

.video-container {
  position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
  @nest & iframe {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }
  @nest & object {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }
  @nest & embed {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
  }
}

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
